<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Get started</h1>
                        <p class="lead">
                            Start creating the best possible user experience for you customers.
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-3">
                                <%= form_with model: @user, url: sign_up_path do |form| %>
                                    <% if form.object.errors.any? %>
                                        <div class="alert alert-danger">
                                            <% form.object.errors.full_messages.each do |message| %>
                                                <div><%= message %></div>
                                            <% end %>
                                        </div>
                                    <% end %>
                                    <div class="mb-3">
                                        <%= form.label :name, class: "form-label" %>
                                        <%= form.text_field :name, class: "form-control form-control-lg", placeholder: "Enter your name" %>
                                    </div>
                                    <div class="mb-3">
                                        <%= form.label :email, class: "form-label" %>
                                        <%= form.text_field :email, class: "form-control form-control-lg", placeholder: "Enter your email" %>
                                    </div>
                                    <div class="mb-3">
                                        <%= form.label :password, class: "form-label" %>
                                        <%= form.password_field :password, class: "form-control form-control-lg", placeholder: "Enter your password" %>
                                    </div>
                                    <div class="mb-3">
                                        <%= form.label :password_confirmation, class: "form-label" %>
                                        <%= form.password_field :password_confirmation, class: "form-control form-control-lg", placeholder: "Confirm your password" %>
                                    </div>
                                    <div class="mb-3">
                                        <%= form.label :store_name, class: "form-label" %>
                                        <%= form.text_field :store_name, class: "form-control form-control-lg", placeholder: "Enter your store name" %>
                                    </div>
                                    <div class="mb-3">
                                        <%= form.label :role, class: "form-label" %>
                                        <%= form.text_field :role, class: "form-control form-control-lg", placeholder: "Enter your role" %>
                                    </div>
                                    <div class="mb-3">
                                        <%= form.label :branch, class: "form-label" %>
                                        <%= form.text_field :branch, class: "form-control form-control-lg", placeholder: "Enter your branch" %>
                                    </div>
                                    <div class="d-grid gap-2 mt-3">
                                        <%= form.submit "Sign Up", class: "btn btn-lg btn-primary"%>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        Already have account? <%= link_to "Log in", login_path %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>