<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
         <%= link_to root_path, class: "sidebar-brand" do %>
            <span class="align-middle">Grind Kit</span>
        <% end %>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item">
                <%= link_to root_path, class: "sidebar-link" do %>
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                <% end %>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-profile.html">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                </a>
            </li>

            <li class="sidebar-item">
                <%= link_to password_path, class: "sidebar-link" do %>
                    <i class="align-middle" data-feather="key"></i> <span class="align-middle">Update Password</span>
                <% end %>
            </li>

            <li class="sidebar-item">
                <%= link_to login_path, class: "sidebar-link" do %>
                    <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
                <% end %>
            </li>

            <li class="sidebar-item">
                <%= link_to sign_up_path, class: "sidebar-link" do %>
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
                <% end %>
            </li>

            <li class="sidebar-item">
                <%= link_to categories_path, class: "sidebar-link" do %>
                    <i class="align-middle" data-feather="file"></i> <span class="align-middle">Categories</span>
                <% end %>
            </li>

            <li class="sidebar-item">
                <%= link_to items_path, class: "sidebar-link" do %>
                    <i class="align-middle" data-feather="file"></i> <span class="align-middle">Items</span>
                <% end %>
            </li>

            <li class="sidebar-item">
                <%= link_to pos_path, class: "sidebar-link" do %>
                    <i class="align-middle" data-feather="file"></i> <span class="align-middle">POS</span>
                <% end %>
            </li>

            <li class="sidebar-item">
                <%= link_to blank_path, class: "sidebar-link" do %>
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Blank</span>
                <% end %>
            </li>

            <li class="sidebar-header">
                Tools & Components
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-buttons.html">
                    <i class="align-middle" data-feather="square"></i> <span class="align-middle">Buttons</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-forms.html">
                    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-cards.html">
                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Cards</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-typography.html">
                    <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Typography</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="icons-feather.html">
                    <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
                </a>
            </li>

            <li class="sidebar-header">
                Plugins & Addons
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="charts-chartjs.html">
                    <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="maps-google.html">
                    <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
                </a>
            </li>
        </ul>
    </div>
</nav>