<div class="wrapper">
	<%= render partial: "shared/sidebar" %>
    <div class="main items">
        <%= render partial: "shared/topbar" %>

        <main class="content">
            <div class="container-fluid p-0">

                <h1 class="h3 mb-3">Items</h1>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <%= link_to item_add_path, class: "btn btn-primary" do %>
                                    <i class="align-middle" data-feather="plus"></i> <span class="align-middle">Add Item</span>
                                <% end %>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @items.each_with_index do |item, idx| %>
                                            <tr>
                                                <th scope="row"><%= idx + 1 %></th>
                                                <td><%= item.name %></td>
                                                <td><%= item.category_id ? item.category.name : '' %></td>
                                                <td>
                                                    <%= link_to item_edit_path(id: item.id) do %>
                                                        <i class="align-middle" data-feather="edit"></i>
                                                    <% end %>
                                                    
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= item.id %>">
                                                        <i class="align-middle" data-feather="trash-2"></i>
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="staticBackdrop<%= item.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Are you sure do you want to delete <%= item.name %>?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <%= button_to "Delete", items_path(id: item.id), class: "btn btn-primary", method: :delete %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <%= render partial: "shared/footer" %>
    </div>
</div>